---
layout: default
fluid: false
nav: blog
---

<article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </nav>

    <p><em>posted on </em><time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time></p>
    <p><em>Tags:</em> {{ page.tags | array_to_sentence_string }}</p>
  
    {{ content }}
</article>
