---
layout: default
nav: projects
---

<article>
  <div class="page-header">
    <h1><small><a href="/projects.html">Projects</a> ></small> {{ page.name }}</h1>
  </div>
  
  <div class="row">
    <div class="col">
    
      <dl class="well">
        <dt>Homepage</dt>
        {% if page.homepage %}
          <dd><a href="{{ page.homepage }}">{{ page.homepage }}</a></dd>
        {% else %}
          <dd>none</dd>
        {% endif %}
        
        <dt>GitHub Repository</dt>
        {% if page.github %}
          <dd><a href="{{ page.github }}">{{ page.github }}</a></dd>
        {% else %}
          <dd>none</dd>
        {% endif %}
        
        <dt>Description</dt>
        <dd>{{ page.description }}</dd>
      </dl>
    
    </div>
    <div class="col">
    
      {% if page.imageurl %}
          <img src="{{ page.imageurl }}" class="img-responsive" />
      {% endif %}
    
    </div>
  </div>
  
  {{ content }}
</article>
