---
layout: default
fluid: false
nav: projects
---

<article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6 order-md-2">
            <dl class="well">
                <dt>Homepage</dt>
                {% if page.homepage %}
                <dd><a href="{{ page.homepage }}">{{ page.homepage }}</a></dd>
                {% else %}
                <dd>none</dd>
                {% endif %}

                <dt>GitHub Repository</dt>
                {% if page.github %}
                <dd><a href="{{ page.github }}">{{ page.github }}</a></dd>
                {% else %}
                <dd>none</dd>
                {% endif %}

                <dt>Description</dt>
                <dd>{{ page.description }}</dd>
            </dl>
        </div>

        <div class="col-md-6 order-md-1">
            <p>{{ page.content }}</p>
        </div>
    </div>

    {% if page.imageurl %}
    <img src="{{ page.imageurl }}" class="m-3 p-3 bg-light rounded img-fluid" />
    {% endif %}
</article>
